################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CloudNetCoreDemo/bin/Debug/net6.0
/CloudNetCoreDemo/obj
/.vs
